name: Deploy Vite React to GitHub Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm install

        - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          # We removed the 'cache' line so it doesn't look for a lockfile

      - name: Install dependencies
        run: npm install --legacy-peer-deps